<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd" default-autowire="byType">

    <bean id="movieRepository" class="com.pazdev.dvdstore.repository.FileMovieRepository">
        <property name="file" value="C:\\temp\\movies.csv"/>
    </bean>

    <bean id="movieController" class="com.pazdev.dvdstore.controller.MovieController" />

    <bean id="movieService" class="com.pazdev.dvdstore.service.DefaultMovieService" />
</beans>