<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DVDStore</title>
</head>
<body>
<H1>DVDStore : LA boutique de DVD en ligne</H1>
<table border="1">

    <!--/*@thymesVar id="movies" type="java.util.List"*/-->
    <!--/*@thymesVar id="movie" type="com.pazdev.dvdstore.entity.Movie"*/-->
    <tr th:each="movie: ${movies}">
        <!--/*@thymesVar id="title" type="java.lang.String"*/-->
        <td th:text="${movie.title}"></td>
        <!--/*@thymesVar id="genre" type="java.lang.String"*/-->
        <td th:text="${movie.genre}"></td>
    </tr>
</table>
</body>
</html>